<footer class='fixed-bottom'>
  <div class='container'>
      <div class='row'>
        <hr />
        <div class='col-md-6 brand'><%= link_to t('app-title'), '/', class: "footer-brand" %></div>
        <div class='col-md-6'><p class='copyright'>&copy; <%= Time.now.year %>  <%= t('app-title') %></p></div>
      </div>
  </div>
</footer>
