/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require animate
 *= require font-awesome
 *
 */

 $white:   #f5f6fa !default;
 $blue:    #40739e !default;
 $indigo:  #192a56 !default;
 $purple:  #8c7ae6 !default;
 $pink:    #e83e8c !default;
 $red:     #c23616 !default;
 $orange:  #fd7e14 !default;
 $yellow:  #fbc531 !default;
 $green:   #44bd32 !default;
 $teal:    #20c997 !default;
 $cyan:    #0097e6 !default;
 $black:   #2f3640 !default;

$navbar-dark-color:$white !default;
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: 'Cabin', $font-family-sans-serif !default;

@import 'bootstrap';



$GP_FONT: 'Pacifico', cursive;
$primary-color: #40739e;
$primary-light: #487eb0;
$secondary-color: #f5f6fa;

body{
  padding-top:65px;
}

.wrapper{
  min-height:75vh;
}

nav{
   background-color:$primary-color;
   border-radius:0 !important;
   border-bottom: 1px solid darken($blue, 10);

   .navbar-brand{
     font-family: $GP_FONT;
     font-size:1.3em;
     color:$secondary-color;
     text-shadow:-1px 1px rgba(0,0,0,0.6);
   }
 }

 footer{
   background-color:$blue;
   border-top:3px solid darken($blue,5);
   position:relative;
   bottom:0;
   width:100%;

   .container{
     padding:20px;
   }

   .copyright{
     font-size:1em;
     color:$white;
     text-align:right;
   }

   .footer-brand{
     font-family: $GP_FONT;
     font-size:1em;
     color:$white;
     text-align:center;
   }

   @media (max-width: 767px) {
     .container{
       padding:10px;
       margin-bottom:0;
     }
     .copyright{
       text-align:center;
       margin-top:10px;
     }
     .brand{
       text-align:center !important;
       font-size:1.6em;
     }
   }
 }
