// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




// html{
//   background: image-url("bg.jpg") no-repeat center center fixed !important;
// }
//
// body{
//   background-color:transparent !important;
// }

//*--------------HOME SECTION---------------*//
#home{

  h1{
    font-size:4em;
    padding:30px;

    span{
      color:#40739e;
      font-family:'Pacifico', cursive;
    }
  }

}



//*--------------CONTACT SECTION---------------*//
#contact{
  padding-top:30px;
  padding-left:50px;

  h1{
    font-weight:bold;
  }

  form label{
    margin-bottom:0px;
  }

  form input[type=text],form input[type=email], form input[type=tel]{
    display:block;
    margin-bottom:20px;
    background-color:#fff;
  }
  form textarea{
    display:block;
    background-color:#fff;
  }
  form input[type=submit]{
    margin-top:5px;
  }

}
