// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home{
  padding-top:30px;

  h1{
    font-size:3em;
  }
  h3{
    font-size:7em;
  }
}


//*--------------CONTACT SECTION---------------*//
#contact{
  padding-top:30px;

  h1{
    font-weight:bold;
  }

  form label{
    margin-bottom:0px;
  }

  form input[type=text],form input[type=email], form input[type=tel]{
    display:block;
    margin-bottom:20px;
    background-color:#fff;
  }
  form textarea{
    display:block;
    background-color:#fff;
  }
  form input[type=submit]{
    margin-top:15px;
    margin-bottom:20px;
  }

}
